$base-font-size: 16; // 16px
$input-color: #eee;

$font-heading: Arial, Helvetica, "Lucida Grande", Verdana, "Gill Sans", sans-serif;
$font-base: Georgia, "Times New Roman", "Palatino", "Hoefler Text", Baskerville, serif;
$font-slap: Rockwell, serif;
$font-mono: Menlo, Courier New, Courier, Mono, monospace;