@import 'grund/variables';

/*  Base
    ---- */

body {
  font-size: ($base-font-size/16)*100%;
  font-family: $font-base;
  line-height: 1.3;
  }

/*  Typography
    ---------- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $font-heading; margin-top: 0; margin-bottom: 1rem; }

h1, .h1 { font-size: 2.8em; } /* 45px / 58px 6,5px */
h2, .h2 { font-size: 2.4em; margin-top: 2px; margin-bottom: 1.5rem;} /* 38px / 49px 5,5px  */
h3, .h3 { font-size: 2em;   margin-top: 4px; margin-bottom: 1.8rem;} /* 32px / 41px 4,5px */
h4, .h4 { font-size: 1.6em; } /* 26px / 33px 3,5px */
h5, .h5 { font-size: 1.2em; } /* 19px / 24px 2,5px */
h6, .h6 { font-size: 1em; } /* 16px / 20px 2px */

ul, ol {
  list-style-position: inside;
  padding: 0;
  }

li {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
  }

p {
  margin-top: 0;
  margin-bottom: 1.35rem;
  }

aside {
  font-family: $font-slap;
  float: right;
  width: 200px;
  padding: 0 0 0 20px;
  margin: 0 0 1.3rem 20px;
  border-left: 2px solid #333;
  }

pre {
  font-family: $font-mono;
  padding: 22px 20px;
  background: #333;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  }

blockquote {
  background: #eee;
  margin: 0 0 1.3rem;
  padding: 20px;
  font-style: italic;
  border: 2px solid #ddd;
  border-width: 2px 0;
  font-family: $font-slap;
  }

[class^="h"] { font-family: $font-heading;  }
.p { font-family:"Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif; }
.aside { font-family: "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; }
.pre { font-family: Menlo, Courier New, Courier, Mono, monospace; }


img {
  margin: 0 20px 1.3rem;
  padding: 5px;
  border: 1px solid #ddd;
  }

.pull-left {
  float: left;
  margin-left: 0;
  }

.pull-right {
  float: right;
  margin-right: 0;
  }


/*  Grid
    ---- */

.row {
  margin: 20px 0 20px -2%;
  overflow: hidden;
  /*
    Thanks http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    This solution isn't perfect but for prototyping it definitly works.
  */
  font-size: 0;
  }

[class*="col"] {
  background: #f0f;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  margin: 0 0 20px 2%;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }

[class*="col"].pull-top {
  margin-bottom: 0;
  }

.col-5 {
  width: 18%;
  }

.col-5-2 {
  width: 38%;
  }

.col-5-3 {
  width: 58%;
  }

.col-5-4 {
  width: 78%;
  }

.col-4 {
  width: 23%;
  }

.col-4-2 {
  width: 48%;
  }

.col-4-3 {
  width: 73%;
  }

.col-3 {
  width: 31.3333333%;
  }

.col-3-2 {
  width: 64.6666666%;
  }

.col-2 {
  width: 48%;
  }

.col-1 {
  width: 100%;
  }

/*  Form
    ---- */

form {
  clear: both;

  fieldset {
    border: none;
    }

  label {
    display: block;

    span {
      width: 180px;
      margin-right: -4px;
      padding-right: 20px;
      display: inline-block;
      text-align: right;
      }
    }


  input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 1em;
    font-family: $font-base;
    transition: background-color 1s;
    background: $input-color;
    width: 300px;

    &:hover, &:focus {
      transition: background-color 1s;
      background: $input-color - #222;
    }
  }

  input[type="submit"] {
    width: 200px;
    }

  .action {
    border-top: 4px solid #eee;
    padding-top: 20px;
    margin-top: 20px;

    input {
      margin-left: 320px;
      cursor: pointer;
      }
    }
}

.inverted {

  input {
    background: #fff;
    }

}