<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grund</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <style>
    .grids [class*="col"] {
      text-align: center;
      background: #eee;
      }

    .sidebar [class*="col"] {
      background: #eee;
      }

    .js-nav {
      position: fixed;
      top: 10px;
      right: 10px;
      margin: 0;
      padding: 0;
      }

      .js-nav li {
        padding: 0;
        width: 10px;
        height: 10px;
        background: #ccc;
        display: inline-block;
        border: none;
        }

      .js-nav li.active {
        background: #000;
        }

    section + section {
      display: none;
      }
  </style>
</head>
<body>

  <ul class="js-nav">
    <li id="typography"></li>
    <li id="grids"></li>
    <li id="sidebar" class="active"></li>
    <li id="form"></li>
  </ul>

  <div class="container">
    <section class="typography">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>

      <h2 class="h1">Heading 2 as 1</h2>
      <h3 class="h2">Heading 3 as 2</h3>
      <h1 class="h3">Heading 1 as 3</h1>

      <ul>
        <li>Cras mattis consectetur purus sit amet fermentum.</li>
        <li>Etiam porta sem malesuada magna mollis euismod.</li>
        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
        <li>Curabitur blandit tempus porttitor.</li>
        <li>Vestibulum id ligula porta felis euismod semper.</li>
      </ul>

      <ol>
        <li>Cras mattis consectetur purus sit amet fermentum.</li>
        <li>Etiam porta sem malesuada magna mollis euismod.</li>
        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
        <li>Curabitur blandit tempus porttitor.</li>
        <li>Vestibulum id ligula porta felis euismod semper.</li>
      </ol>

      <p>Vestibulum id ligula <strong>porta felis euismod</strong> semper. <em>Sed posuere consectetur</em> est at lobortis. Morbi leo risus, porta ac  consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Praesent commodo cursus magna,  vel scelerisque nisl consectetur et.</p>

      <blockquote>Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. Nullam   quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce   dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</blockquote>

      <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl  consectetur et. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at  lobortis.</p>

      <img class="pull-left" src="http://placekitten.com/g/100/120">

      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada  magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

      <img class="pull-right" src="http://placekitten.com/g/200/160">

      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur   blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur  ridiculus mus. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.</p>

      <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit  aliquet. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,   ut fermentum massa justo sit amet risus.</p>

      <pre><code>$(document).ready(function () {
  $('.js-nav li').click(function () {
    $('.active').removeClass('active');
    $(this).addClass('active');
    $('section').hide ();
    $('.'+$(this).attr('id')).show();
  });
});</code></pre>
    </section>

    <section class="grids">
      <div class="row">
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>

        <div class="col-5-2">col-5-2</div>
        <div class="col-5-3">col-5-3</div>

        <div class="col-5-4">col-5-4</div>
         <div class="col-5">col-5</div>

        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>

        <div class="col-4-2">col-4-2</div>
        <div class="col-4-2">col-4-2</div>

        <div class="col-4-3">col-4-3</div>
        <div class="col-4">col-4</div>

        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>

        <div class="col-3-2">col-3-2</div>
        <div class="col-3">col-3</div>

        <div class="col-2">col-2</div>
        <div class="col-2">col-2</div>

        <div class="col-1">col-1</div>
      </div>
    </section>

     <section class="sidebar">
      <div class="row">
        <div class="col-4">
          <h5 class="h3">Heading 5</h5>

          <p>VNullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non  mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor   id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet  fermentum.</p>

          <p>VNullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non  mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor   id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet  fermentum.</p>
        </div>
        <div class="col-4-3">
          <h1>Heading 1</h1>
          <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum   at eros. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl   consectetur et.</p>
          <pre><code>$(document).ready(function () {
  $('.js-nav li').click(function () {
    $('.active').removeClass('active');
    $(this).addClass('active');
    $('section').hide ();
    $('.'+$(this).attr('id')).show();
  });
});</code></pre>

          <aside>Nulla vitae elit libero, a pharetra augue.</aside>

          <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean   lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis   ornare vel eu leo.</p>

          <img class="pull-left" src="http://placekitten.com/g/100/120">

          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut   fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing  elit. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna,  vel scelerisque nisl consectetur et.</p>


          <form action="/" class="inverted">
             <fieldset>
              <legend class="h2">Lorem ipsum</legend>
              <label>
                <span>A label</span>
                <input type="text">
              </label>
              <label>
                <span>A second label</span>
                <input type="text">
              </label>
              <label>
                <span>A third label</span>
                <input type="text">
              </label>
              <div class="action">
                <input class="btn" type="submit">
              </div>
            </fieldset>
          </form>

          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.</p>

          <aside class="pull-left">
            <ul>
              <li>Vestibulum Inceptos Dolor Quam</li>
              <li>Magna Lorem Vestibulum Nullam</li>
              <li>Tristique Nullam Cras Dapibus</li>
            </ul>
          </aside>

          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>

        </div>
      </div>
    </section>

    <section class="form">

      <ul class="messages">
        <li class="message"><p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p><span>x</span></li>
        <li class="notice"><p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p><span>x</span></li>
        <li class="alert"><p>Sed posuere consectetur est at lobortis.</p><span>x</span></li>
      </ul>

      <form action="/">
        <label>
          <span>Text label</span>
          <input type="text">
        </label>
        <label>
          <span>Select label</span>
          <select>
            <option>Option</option>
            <option>Option two</option>
          </select>
        </label>
        <label>
          <span>Checkbox label</span>
          <input type="checkbox">
        </label>
        <label>
          <span>Radio label 1</span>
          <input type="radio" name="radio">
        </label>
        <label>
          <span>Radio label 3</span>
          <input type="radio" name="radio">
        </label>
        <label>
          <span>Radio label 3</span>
          <input type="radio" name="radio">
        </label>

        <div class="action">
          <input class="btn" type="submit">
        </div>
      </form>
    </section>
  </div>

  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"');</script>
  <script type="text/javascript" src="/javascript/hashgrid.js"></script>
  <script>
    $(document).ready(function () {

      // Hide messages on click
      $('.messages span').click(function() { $(this).parent().slideUp(); })

      $('section').hide();
      $('.'+$('.js-nav .active').attr('id')).show();

      $('.js-nav li').click(function () {
        $('.active').removeClass('active');
        $(this).addClass('active');
        $('section').hide ();
        $('.'+$(this).attr('id')).show();
      });
    });
  </script>
</body>
</html>